<div class=" " id="pageContainer-content">

    <!--BEGIN_CONTENT-->

<div class="container container--fluid container--darkBackground interstitial interstitial--dashboard u-table">
    <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
        <h1>About Corsa</h1>
    </div>
</div>
<div class="container container--fluid interstitial interstitial--commutePattern u-table">
    <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
        <div class="grid grid--noGutter">
            <div class="grid-item grid-item--8 grid-item--push2">
                <h5>Where local car owners give travelers the perfect vehicle for their next adventure</h5>

                <p>Founded in 2009 and headquartered in San Francisco, Corsa is a car rental marketplace where travelers can rent any car they want, wherever they want it, from a vibrant community of local car owners. Travelers choose from a totally unique selection of nearby cars, while car owners earn extra money and help fuel their adventures.</p>

                <p>A pioneer of the sharing economy and travel industry, Corsa is a safe, supportive community where the car you rent is part of a story, not a fleet. Whether it’s an F-150 truck to help out on moving day, a Tesla for a luxurious weekend away, or a classic VW bus for a picture-perfect road trip, travelers rent the car and own the adventure.</p>
            </div>
        </div>
    </div>
</div>
<div class="container container--fluid container--darkBackground container--greenLightBackground interstitial">
    <div class="container u-alignCenter">
        <h2>By the numbers</h2>

        <div class="section">
            <div class="grid grid--withVerticalSpacing">
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small6 grid-item--xsmall12 grid-item--push2">
                    <div class="factoidBubble factoidBubble--darkBackground factoidBubble--fluid">
                        <div class="factoidBubble-icon">
                            <img width="74" height="64" src="/images/cities_icon@2x.png" class="factoidBubble-iconImage">
                        </div>
                        <div class="factoidBubble-details">
                            <div class="factoidBubble-figure">
                                2,500+
                            </div>
                            <div class="factoidBubble-description">
                                cities
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small6 grid-item--xsmall12 grid-item--pull2">
                    <div class="factoidBubble factoidBubble--darkBackground factoidBubble--fluid">
                        <div class="factoidBubble-icon">
                            <img width="85" height="61" src="/images/airplane_icon@2x.png" class="factoidBubble-iconImage">
                        </div>
                        <div class="factoidBubble-details">
                            <div class="factoidBubble-figure">
                                300+
                            </div>
                            <div class="factoidBubble-description">
                                airports
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small6 grid-item--xsmall12">
                    <div class="factoidBubble factoidBubble--darkBackground factoidBubble--fluid">
                        <div class="factoidBubble-icon">
                            <img width="83" height="72" src="/images/cars_icon@2x.png" class="factoidBubble-iconImage">
                        </div>
                        <div class="factoidBubble-details">
                            <div class="factoidBubble-figure">
                                800+
                            </div>
                            <div class="factoidBubble-description">
                                makes &amp; models
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small6 grid-item--xsmall12">
                    <div class="factoidBubble factoidBubble--darkBackground factoidBubble--fluid">
                        <div class="factoidBubble-icon">
                            <img width="42" height="84" src="/images/dollar_sign_icon@2x.png" class="factoidBubble-iconImage">
                        </div>
                        <div class="factoidBubble-details">
                            <div class="factoidBubble-figure">
                                $600
                            </div>
                            <div class="factoidBubble-description">
                                average monthly owner earnings
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small6 grid-item--xsmall12">
                    <div class="factoidBubble factoidBubble--darkBackground factoidBubble--fluid">
                        <div class="factoidBubble-icon">
                            <img width="163" height="54" src="/images/dollar_signs_icon@2x.png" class="factoidBubble-iconImage">
                        </div>
                        <div class="factoidBubble-details">
                            <div class="factoidBubble-figure">
                                $3,000+
                            </div>
                            <div class="factoidBubble-description">
                                earnings per month for owners with 3+ cars
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small6 grid-item--xsmall12 grid-item--push2">
                    <div class="factoidBubble factoidBubble--darkBackground factoidBubble--fluid">
                        <div class="factoidBubble-icon">
                            <img width="98" height="56" src="/images/money_icon@2x.png" class="factoidBubble-iconImage">
                        </div>
                        <div class="factoidBubble-details">
                            <div class="factoidBubble-figure">
                                30% less
                            </div>
                            <div class="factoidBubble-description">
                                than traditional agency prices on average
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small6 grid-item--xsmall12 grid-item--pull2 grid-item--pushMedium4 grid-item--pushSmall3">
                    <div class="factoidBubble factoidBubble--darkBackground factoidBubble--fluid">
                        <div class="factoidBubble-icon">
                            <img width="75" height="77" src="/images/umbrella_icon@2x.png" class="factoidBubble-iconImage">
                        </div>
                        <div class="factoidBubble-details">
                            <div class="factoidBubble-figure">
                                $1 million
                            </div>
                            <div class="factoidBubble-description">
                                insurance covering each trip for owners
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container--fluid container--darkBackground interstitial interstitial--bridge u-table">
    <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
        <h5 class="supertitle">Rent the car</h5>

        <h1>Own the adventure</h1>

        <!-- <div class="logo logo--small logo--centered"></div> -->
    </div>
</div>

    <!--CONTENT-->

        </div>
