
<div class="col-sm-2">
</div>
<div class="col-sm-8">
     <br>
     <!-- <form class="form-horizontal" name = "form"  role="form" ng-submit = "form.$valid && form.$submitted && saveAvailability()" novalidate> -->
     <h5>Car Availability</h5>
     <p>HOW MUCH ADVANCE NOTICE DO YOU NEED <br/> TO CONFIRM A TRP REQUST ? </p>
     <br/>
     <form name="form" ng-submit = "form.$valid && form.$submitted && saveAvailability()" novalidate>
          <div class="form-group"  >
               <label for="repeatSelect"> Advance Notice : </label>
               <select name="advance" id="repeatSelect" ng-model="vehicle.advance" required>

                    <option  value="3 hours">3 hours</option>
                    <option  value="6 hours">6 hours</option>
                    <option  value="12 hours">12 hours</option>
                    <option  value="1 day">1 day</option>
                    <option  value="2 days">2 days</option>
                    <option  value="3 days">1 days</option>
                    <option  value="one week">a week</option>

               </select>
               <div ng-messages="form.advance.$error" ng-if="form.advance.$touched || form.$submitted">
                    <div ng-messages-include="/elements/notifyMessages.html"></div>
               </div>
          </div>
          <p>HOW LONG WOULD YU LIKE TRIP TO LAST?  </p>
          <div class="form-group"  >
               <label class="control-label">Shortest possible trip</label>
               <select name="sort" id="sortSelect" ng-model="vehicle.sort" required>
                    <option  value="any">Any</option>
                    <option  value="1 day">1 day</option>
                    <option  value="2 day">2 days</option>
                    <option  value="3 day">3 days</option>
                    <option  value="4 day">4 days</option>
                    <option  value="5 day">5 days</option>
                    <option  value="one week">a week</option>

               </select>
               <div ng-messages="form.sort.$error" ng-if="form.sort.$touched || form.$submitted">
                    <div ng-messages-include="/elements/notifyMessages.html"></div>
               </div>
          </div>
          <div class="form-group"  >
               <label class="control-label">Longest possible trip</label>
               <select name="long" id="repeatSelect" ng-model="vehicle.long" required/>
                    <option  value="any">Any</option>
                    <option  value="1 week">1 week</option>
                    <option  value="2 week">2 week</option>
                    <option  value="3 month">1 month</option>
                    <option  value="4 months">3 months</option>
               </select>
               <div ng-messages="form.long.$error" ng-if="form.long.$touched || form.$submitted">
                    <div ng-messages-include="/elements/notifyMessages.html"></div>
               </div>
          </div><br>
          <button type="submit" class="btn btn-primary" >Next</button>

     </form>     <!-- </form> -->


</div>
<div class="col-sm-2">
</div>
