<!--HERO-->
   <!--BEGIN_CONTENT-->
<section class="container container--fluid container--darkBackground interstitial interstitial--howItWorks u-table">
   <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
       <h1>How Corsa works</h1>

       <h5>Your journey starts here</h5>

       <div class="buttonWrapper">
          <a href="#/rent" ui-sref="anon.rent" class="button button--green button--large">Rent a car</a>
          <a  href="#/list-your-car" ui-sref="anon.list-your-car"  class="button button--purple button--large">List your car</a>
       </div>
       <div class="interstitial-bottom interstitial-bottom--largerMargin">
          <ul class="horizontalMenu">
               <li class="horizontalMenu-item"><a class="horizontalMenu-link"  href="#/rent" ui-sref="anon.rent">Rent a car</a></li>
               <li class="horizontalMenu-item"><a class="horizontalMenu-link" href="#/list-your-car" ui-sref="anon.list-your-car" >List your car</a></li>
               <li class="horizontalMenu-item is-selected"><a href="#/how-corsa-works" ui-sref="anon.how-corsa-works" >How Corsa works</a></li>
          </ul>
       </div>
   </div>
</section>
<section class="container container--fluid interstitial interstitial--road car-works-sec">
   <div class="container">
       <div class="timeline timeline--renter timeline--left">
          <h4 class="timeline-header text--green u-alignCenter">Renting a car</h4>

          <ol class="timeline-events">
               <li class="timeline-event timeline-event--middle timeline-event--position0">
                   <span class="timeline-eventArrow"></span>
                   <span class="timeline-eventMarker"></span>
                   <h6 class="subheader timeline-eventTitle">Sign up</h6>

                   <p class="timeline-eventText">Sign up for Corsa with Facebook, Google, or your email. We’ll confirm your identity and eligibility so you can become an approved driver.</p>
               </li>
               <li class="timeline-event timeline-event--middle timeline-event--position1">
                   <span class="timeline-eventArrow"></span>
                   <span class="timeline-eventMarker"></span>
                   <h6 class="subheader timeline-eventTitle">Find the perfect car</h6>

                   <p class="timeline-eventText">Enter your travel dates and location and search our vast selection of unique, locally-owned cars.</p>
               </li>
               <li class="timeline-event timeline-event--position3">
                   <span class="timeline-eventArrow"></span>
                   <span class="timeline-eventMarker"></span>
                   <h6 class="subheader timeline-eventTitle">Book it</h6>

                   <p class="timeline-eventText">Book the car of your dreams. The owner will confirm or decline your trip within eight hours, but typically it’s much sooner. Book cars instantly on listings with the “Book Instantly” badge.</p>
               </li>
               <li class="timeline-milestone timeline-event--position4">
                   Pickup
               </li>
               <li class="timeline-event timeline-event--position5">
       <div id="pageContainer-content" class=" ">
                   <span class="timeline-eventArrow"></span>
                   <span class="timeline-eventMarker timeline-eventMarker--renterAndOwner"></span>
                   <h6 class="subheader timeline-eventTitle">Pick up the car</h6>

                   <p class="timeline-eventText">Meet the car owner to pick up the car. Many owners offer delivery, so they may bring it right to you.</p>

                   <p class="timeline-eventText">Walk around the car, show them your license, grab the keys, and drive off into the sunset.</p>
               </li>
               <li class="timeline-event timeline-event--middle timeline-event--position6">
                   <span class="timeline-eventArrow"></span>
                   <span class="timeline-eventMarker timeline-eventMarker--renterAndOwner"></span>
                   <h6 class="subheader timeline-eventTitle">Have the time of your life</h6>

                   <p class="timeline-eventText">Go explore! In the city or the woods, for a few days or a few weeks, rain or shine, grab your shades and go create something to write home about.</p>
               </li>
               <li class="timeline-milestone timeline-event--position7">
                   Return
               </li>
               <li class="timeline-event timeline-event--middle timeline-event--position8">
                   <span class="timeline-eventArrow"></span>
                   <span class="timeline-eventMarker timeline-eventMarker--renterAndOwner"></span>
                   <h6 class="subheader timeline-eventTitle">Return the car</h6>

                   <p class="timeline-eventText">At the end of your trip, replace the gas you used and meet the owner to drop off the car. Walk around the car again, hand over the keys, give them a high five, and start planning your next adventure.</p>
               </li>
          </ol>
       </div>
       <div class="timeline timeline--owner timeline--right">
          <h4 class="timeline-header text--purple u-alignCenter">Listing your car</h4>
          <ol class="timeline-events">
               <li class="timeline-event timeline-event--position0">
                   <span class="timeline-eventArrow"></span>
                   <span class="timeline-eventMarker"></span>
                   <h6 class="subheader timeline-eventTitle">List your car</h6>

                   <p class="timeline-eventText">Create a free listing with a few clicks. Describe your car, upload some clean photos, and you’re ready to go.</p>

                   <p class="timeline-eventText">Be sure to keep your calendar up to date so travelers know when your car is available.</p>
               </li>
               <li class="timeline-event timeline-event--bottom timeline-event--position2">
                   <span class="timeline-eventArrow"></span>
                   <span class="timeline-eventMarker"></span>
                   <span class="dot two owner"></span>
                   <h6 class="subheader timeline-eventTitle">Respond to requests</h6>

                   <p class="timeline-eventText">You’ll get notified when someone requests, or books your car instantly. Confirm or decline the trip as soon as possible, and contact the traveler if you have any questions.</p>
               </li>
               <li class="timeline-event timeline-event--position5">
                   <span class="timeline-eventArrow"></span>
                   <h6 class="subheader timeline-eventTitle">Meet your guest</h6>

                   <p class="timeline-eventText">Coordinate where and when you’ll meet your guest. Check their license, walk around the car, check the fuel and mileage, and send them off on their adventure.</p>
               </li>
               <li class="timeline-event timeline-event--middle timeline-event--position6">
                   <span class="timeline-eventArrow"></span>
                   <h6 class="subheader timeline-eventTitle">Kick back and earn</h6>

                   <p class="timeline-eventText">Rest easy, Corsa covers your car with $1 million in liability insurance and 24/7 roadside assistance throughout the trip, so you can just watch the dollars roll in.</p>
               </li>
               <li class="timeline-event timeline-event--middle timeline-event--position8">
                   <span class="timeline-eventArrow"></span>
                   <h6 class="subheader timeline-eventTitle">Pick up your car</h6>

                   <p class="timeline-eventText">Meet your guest, make sure everything’s in order, give them a high five, and head on home. Don’t forget to rate and review them in the app to help keep our marketplace strong and honest.</p>
               </li>
          </ol>
       </div>
   </div>
</section>
<!-- <section id="delivery" class="container container--fluid container--darkBackground interstitial">
   <div class="container u-alignCenter">
       <h5>Local hospitality drives</h5>

       <h3>Car delivery</h3>

       <div class="horizontalDivider horizontalDivider--small horizontalDivider--darkBackground"></div>
       <div class="grid grid--noGutter">
          <div class="grid-item grid-item--8 grid-item--push2">
               <p>Imagine the feeling travelers will get when you drop off your car curbside, or pull up in front of a restaurant downtown. Once you greet them and hand over your keys, they’ll never want to go back to an agency counter again.</p>
          </div>
       </div>
       <div class="section">
          <h5>There are three options for meeting travelers:</h5>

          <div class="section">
               <div class="grid grid--withVerticalSpacing">
                   <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small12 iconWithDescription">
                       <div class="iconWithDescription-image deliveryIcon deliveryIcon--customLocation"></div>
                       <div class="iconWithDescription-description">Owners deliver to custom locations around town, within a set radius
                       </div>
                   </div>
                   <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small12 iconWithDescription">
                       <div class="iconWithDescription-image deliveryIcon deliveryIcon--airportLocation"></div>
                       <div class="iconWithDescription-description">Owners deliver to nearby airports</div>
                   </div>
                   <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small12 iconWithDescription">
                       <div class="iconWithDescription-image deliveryIcon deliveryIcon--homeLocation"></div>
                       <div class="iconWithDescription-description">Travelers pick up the car at the owner’s location
                       </div>
                   </div>
               </div>
               <div class="buttonWrapper buttonWrapper--largestTopMargin">
                   <a href="#/search" ui-sref ="anon.search" class="button button--green button--large">Search cars with delivery</a>
                   <a href="#/login" ui-sref="anon.login" class="button button--purple button--large">Offer delivery</a>
               </div>
          </div>
       </div>
   </div>
</section> -->
   <!--CONTENT-->
