<div id="pageContainer-content" class="u-contentTopPadding u-contentBottomPadding FAQ">

     <div class="container">
     <h5>FREQUENTLY ASKED QUESTIONS ABOUT INSURANCE</h5>
</div>
     <div class="container cke_page">
          <ul>
               <li>
                    <a onClick="faq_scroll(1);" title="Will this void my current insurance policy?" href="javascript:void(0);">Will this void my current insurance policy?</a>
               </li>
               <li><a ionClickd="faq_scroll(3);" title="What if the unthinkable happens, and the car is damaged?" href="javascript:void(0);">What if the unthinkable happens, and the car is damaged?</a>
               </li>
               <li><a onClick="faq_scroll(4);" title="How does the roadside service work?" href="javascript:void(0);">How does the roadside service work?</a>
               </li>
               <li><a onClick="faq_scroll(5);" title="Who sets the insured value?" href="javascript:void(0);">Who sets the insured value?</a>
               </li>
          </ul>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="faq-text-1">
          <h5>Will this void my current insurance policy?</h5>
          <div class="cke-faq">Short answer, No. Your insurance should not be affected. We have worked very closely with large carries to help facilitate this. When you drive your car, you are covered under your existing policy. However, when a vehicle is rented through the Corsa platform, we provide a liability insurance policy to protect both you and the renter. If the renter gets into an accident, our insurance policy will go into effect, which should leave your personal policy untouched. Many policies likely have a specific exclusion for coverage when you rent out your car, which is precisely why Corsa has provided a full liability and physical insurance policy for you. This is provided at NO additional cost to you or the owner. It is because we include this at no cost, a renter may not opt to waive coverage.&nbsp;
          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="faq-text-3">
          <h5>What if the unthinkable happens, and the car is damaged?</h5>
          <div class="cke-faq">Should the unthinkable happen you’ll be glad to know that a $1 million insurance policy covers any type of eventuality. Every vehicle is also insured for full replacement cost of agreed upon value. If there is an incident while the vehicle is being operated by a Corsa renter, the renter should contact the police if urgent, and then to Corsa. Once the incident has been reported, one of our Claims Department representatives will contact the owner and guide them through the claims process. If the vehicle was returned to the owner damaged, the owner must contact us immediately. It is the owner's responsibility to report any damage that occurred during a rental period within 24 hours of the end of the trip to be eligible for a claim.
          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="faq-text-4">
          <h5>How does the roadside service work?</h5>
          <div class="cke-faq"><p>Corsa provides the most comprehensive roadside service on all vehicles while being rented. This roadside assistance is included with every rental at no cost to the owner or renter.</p>
               <p>This service is provided through Hagerty Road Side &reg; and includes:</p>
               <p>Guaranteed flatbed towing with soft straps</p>
               <p>Dispatch operators who understand and care about classic cars</p>

               <p>24 hours a day, 7 days a week coverage</p>

               <p>Dispatch for lockouts, battery jumps, tire changes &amp; emergency fuel delivery</p>
               <p>In the account settings section for owners, you can enter your desired drop off location for the vehicle.</p>
          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="faq-text-5">
          <h5>Who sets the insured value?</h5>
          <div class="cke-faq">In the event of a total loss, you will receive every cent of your stated insured value. No depreciation. No messing around. No hassle. Every vehicles insured value is set by the owner&nbsp;and agreed to prior to any rental. Values are based on an agreed upon figure with the help of the Hagerty&reg; Value Guide and top industry&nbsp;market value tools. Once Corsa and the owner of the vehicle agree&nbsp;to a set value, only then will the vehicle be available to be rented out on the platform.&nbsp;

               <p>&nbsp;</p>
          </div>
     </div>

</div>
<div class="col-sm-2">
</div>
</div>
