  <!--BEGIN_CONTENT-->
<div id="insurance">
 <div class="container container--fluid container--darkBackground interstitial interstitial--curvyRoadWithCliff u-table">
     <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
         <h1>Insurance &amp; protection</h1>
         <h6 class="supertitle">In a nutshell</h6>
     </div>
 </div>
 <div class="container container--fluid interstitial">
     <div class="container u-alignCenter">
         <h3>For owners</h3>
         <div class="grid grid--withVerticalSpacing">
             <div class="grid-item grid-item--push2 grid-item--4 grid-item--medium6 grid-item--xsmall12">
                 <h5>Peace of mind</h5>
                 <div class="horizontalDivider horizontalDivider--small"></div>
                 <p>Your car is protected against physical damage, up to its actual cash value, for collision and most “comprehensive” causes, including theft.</p>
             </div>
             <div class="grid-item grid-item--4 grid-item--medium6 grid-item--xsmall12">
                 <h5>Rest easy</h5>
                 <div class="horizontalDivider horizontalDivider--small"></div>
                 <p>You’re covered by $1 million in liability insurance.</p>
             </div>
         </div>

         <div class="u-contentTopPadding">
             <a ui-sref="anon.insurancefaq" class="button button--purple">Dive deeper into insurance</a>
         </div>

     </div>
 </div>

 <div class="container container--fluid container--darkBackground interstitial interstitial--green">
     <div class="container u-alignCenter u-maxWidth620">

         <h3>For travelers</h3>

         <div class="grid grid--withVerticalSpacing">
             <div class="grid-item grid-item--push3 grid-item--6 grid-item--medium12">

                 <h5>Pick your protection package</h5>
                 <div class="horizontalDivider horizontalDivider--small horizontalDivider--darkBackground"></div>
                 <p>You choose your protection package with each trip — Premium, Basic, or Decline Coverage — each of which has varying physical damage and liability protection.</p>

                 <span class="illustration illustration--travelInsuranceOptions"></span>

                 <div>
                     <a ui-sref="anon.insurancefaq" class="button button--transparent" >Dive deeper into insurance</a>
                 </div>

             </div>
         </div>

     </div>
 </div>

 <div id="insurance-101" class="container container--fluid interstitial">
     <div class="container u-alignCenter">

         <h3 class=u-contentBottomPadding>Insurance 101</h3>

         <div class="grid grid--withVerticalSpacing">
             <div class="grid-item grid-item--3 grid-item--medium6 grid-item--xsmall12 grid-item--geography">
                 <span class="icon"></span>
                 <p>Coverage in the US &amp; Canada</p>
             </div>
             <div class="grid-item grid-item--3 grid-item--medium6 grid-item--xsmall12 grid-item--quality">
                 <span class="icon"></span>
                 <p>Top tier insurance, rated “Excellent” by A.M. Best</p>
             </div>
             <div class="grid-item grid-item--3 grid-item--medium6 grid-item--xsmall12 grid-item--response">
                 <span class="icon"></span>
                 <p>Quick accident response and 24/7 roadside support</p>
             </div>
             <div class="grid-item grid-item--3 grid-item--medium6 grid-item--xsmall12 grid-item--options">
                 <span class="icon"></span>
                 <p>Flexible protection options for travelers</p>
             </div>
         </div>

     </div>
 </div>

</div>

 <!--CONTENT-->
