<div id="pageContainer-content" class="u-contentTopPadding u-contentBottomPadding FAQ">

     <div class="container">
     <h5>WHAT INFORMATION IS REQUIRED OF TRAVELERS?</h5>
     <p>Before a traveler can request your car, she or he must provide the following information:</p>
   </div>
     <div class="container cke_page">
          <ul class="bulletedList">
              <li class="bulletedList-item"><strong>Driver's license information:</strong> Every traveler must submit his or her driver's license number.</li>
              <li class="bulletedList-item"><strong>Payment card information:</strong> He or she must also provide their payment information</li>
              <li class="bulletedList-item"><strong>Biometric Authentication: </strong>Potential travelers are subjected to either mobile iris scanning or thumbprint verification, (depending on their mobile OS)</li>
              <li class="bulletedList-item"><strong>International drivers:</strong> Non-US and Non-Canada drivers may have to provide additional information.</li>
              <li class="bulletedList-item"><strong>Auto Insurance Score:</strong> We request a potential traveler’s auto insurance score from a consumer reporting agency. This score must meet our minimum eligibility criterion.</li>
          </ul>
          <!-- <ul>
               <li><strong>Driver's license information:</strong> Every traveler must submit his or her driver's license number.
               </li>
               <li><strong>Payment card information:</strong> He or she must also provide their payment information
               </li>
               <li><strong>Biometric Authentication: </strong>Potential travelers are subjected to either mobile iris scanning or thumbprint verification, (depending on their mobile OS)
               </li>
               <li><strong>International drivers:</strong> Non-US and Non-Canada drivers may have to provide additional information.
               </li>
               <li><strong>Auto Insurance Score:</strong> We request a potential traveler’s auto insurance score from a consumer reporting agency. This score must meet our minimum eligibility criterion.
               </li>
          </ul> -->
     </div>
     <div class="container">
          <div >Based on the this information and other signals, our top-flight security software is constantly getting smarter in order to keep our community safe. Periodically, we may request additional information to verify the identity and eligibility of prospective guests.
          </div>
     </div><br>
     <div class="container">
          <div >You, as an owner, play a crucial role in the final step of the process. In order to support our insurance requirements, before you hand over your keys, you must check that your guest has a current, valid driver's license, and that the name matches the information provided in your trip details.
          </div>
     </div>
     <!-- <div class="devider_grey faq-devider"></div>
     <div class="container" id="faq-text-3">
          <h5>Can I turn down a potential renter?</h5>
          <div class="cke-faq">Absolutely! As an owner you control every aspect of your vehicle and its use on the platform. Owners control dates of availability, as well as types of rentals and pricing. If you are unable to commit to a rental request, simply choose to decline the request. When you do receive a request from a renter, you will also be able to view the renter’s profile prior to accepting or declining the request. All owners have final say in who rents their cars.
          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="faq-text-4">
          <h5>What if there is a issue with my car during a rental?</h5>
          <div class="cke-faq"><p>Should there be a mechanical issue with the vehicle during a rental, Corsa provides the industry's&nbsp;most comprehensive roadside service on all vehicles during the rental period. This roadside assistance is included with every rental at no cost to the owner or renter. &nbsp;</p>
               <p>This service is provided through Hagerty Road Side &reg; and includes:&nbsp;</p>
               <p>Guaranteed flatbed towing with soft straps</p>

          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="faq-text-5">
          <h5>Where do I exchange my car with the renter?</h5>
          <div class="cke-faq">This decision is completely up to you as the owner. We do suggest that you keep transactions in your geographical area. We recommend to letting the renter come to you, as this keeps matters safer and less complicated. Many owners feel comfortable with an exchange at their home. Some renters may ask to meet at location more convenient for them. If this is the case we suggest large parking lots such as malls and department stores.  We also recommend using a location where you will be able to take the renter for a quick spin to get them acquainted with the vehicle.
          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="faq-text-5">
          <h5>Can I rent my car out only for Events such as a wedding?</h5>
          <div class="cke-faq"><p>Yes! Many times a renter will request your car for photographs or as a display vehicle. No one, other than yourself, will drive the vehicle. Corsa defines these Non-Driving Rentals as "Events". Owners have the ability to limit rentals solely for "Events".&nbsp;You will be covered by our insurance policy during the entire rental process, including transportation of the vehicle to the location. Renters are required to still go through our vetting process as well as charged the required security deposit to cover any incidentals.</p>
               </div>
                </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="faq-text-6">
                    <h5>What if a Renter gets a ticket in my car?</h5>
                    <div class="cke-faq"><p>Should a renter get a ticket, the renter is responsible for paying any tickets received during the reservation, as well as any parking tickets received 24 hours after the end of the rental. If you find a parking ticket on your car or one is mailed to you, please pay it, and send a copy to us at help@corsa.com and we will reimburse you.&nbsp;(Please note that Corsa is not responsible for late fees added onto unpaid toll notices or parking tickets.) Please remember that we'll need to see the complete date and time of the violation, as well as a copy of the ticket, for full reimbursement!</p>
                 <p>If the ticket is a moving violation, particularly a photo-ticket where the driver is not identified, we will provide (upon request to help@corsa.com) documentation to you to support your contesting of the violation and/or transferring of the violation to the renter. Please note that procedures differ by jurisdiction.</p>
</div>
 </div>
 <div class="devider_grey faq-devider"></div>
 <div class="container" id="faq-text-7">
                    <h5>How does the Pricing and Payout work?</h5>
                    <div class="cke-faq"><p>Corsa takes 35% of each reservation. This fee covers the cost of the Full&nbsp;<u><a title="Insurance FAQ" target="_blank" style="font-size: 17px; text-align: center;" ui-sref="anon.insurancefaq" class="reg_text">Insurance</a></u>,&nbsp;<u><a  ui-sref="anon.insurancefaq">Roadside Service and Support</a>,</u>&nbsp;<u>Payment Processing</u>,&nbsp;<u>Listing&nbsp;and&nbsp;Availability Management</u>, and <u>Support Services </u>provided by Corsa to both the owner and renter during the rental period. For additional information please refer to our&nbsp;<u>
                         <a title="Policies" target="_blank" style="font-size: 17px; text-align: center;" href="javascript:void(0)" class="reg_text">Policies</a>.</u></p>
                         <p>All owners are required to set up their Corsa account page prior to Accepting any booking request. This insures that when the rental is completed, the owner will have the ability to immediatly cash out their earnings.</p>
</div>
 </div>
</div> -->
<div class="col-sm-2">
</div>
</div>
