<div class=" " id="pageContainer-content">

    <!--BEGIN_CONTENT-->

<!-- <section class="container container--fluid container--darkBackground interstitial u-table">
    <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
        <h1>Legal matters</h1>

        <div class="horizontalMenu u-contentTopPadding">
            <ul>
                <li class="horizontalMenu-item"><a href="javascript:void(0)" class="text--white">Terms&nbsp;of&nbsp;service</a></li>
                <li class="horizontalMenu-item"><a href="javascript:void(0)" class="text--white">Cancellation&nbsp;policy</a></li>
                <li class="horizontalMenu-item"><a href="javascript:void(0)" class="text--white">Security&nbsp;deposit&nbsp;policy</a></li>
                <li class="horizontalMenu-item"><a href="javascript:void(0)" class="text--white">Privacy&nbsp;policy</a></li>
                <li class="horizontalMenu-item"><a href="javascript:void(0)" class="text--white">Community&nbsp;guidelines</a></li>
                <li class="horizontalMenu-item"><a href="javascript:void(0)" class="text--white">Additional&nbsp;policies</a></li>
            </ul>
        </div>
    </div>
</section> -->

<div class="container u-contentBottomPadding">
    <div class="grid ">
        <div class="grid-item grid-item--10 grid-item--push1">
            <!-- <div class="section">
                <h3 class="u-alignCenter">Terms of service</h3>

                <p class="u-alignCenter">Last revised: May 19, 2016</p>
            </div> -->
            <!-- <section class="section">
                <p>Thank you for your interest in Corsa!</p>

                <p><strong>PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, A CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES, FOR US RESIDENTS TO ARBITRATE ON AN INDIVIDUAL BASIS (UNLESS YOU OPT OUT), AND OBLIGATIONS TO COMPLY WITH APPLICABLE LAWS AND REGULATIONS.</strong></p>
            </section> -->
            <section class="section">
                <h3 class="h5 u-alignLeft" >Policy</h3>

                <p><strong>Corsa Inc.</strong> (formerly ONE Motor Group, Inc., dba Corsa hereinafter, “Corsa”, “we”, or “us”), provides an online platform that connects vehicle owners with drivers seeking to rent those vehicles. Corsa is accessible online including at RentCorsa.com and as an application for mobile devices (Corsa’s websites, blog, and mobile applications are hereinafter collectively referred to as “the Services”).</p>

                   <p>By accessing or using the Services, including by communicating with us or other Corsa users, you agree to comply with, and be legally bound by, the provisions of these Terms of Service (“Terms”), whether or not you become a registered user of the Services. These Terms govern your access to, and use of, the Services and constitute a binding legal agreement between you and Corsa.</p>

<p>Modification. All of the provisions in the Terms, together with Corsa’s Privacy Policy and the user Policies provided on the Corsa Services (the “Policies”) constitute the “Agreement” between you and Corsa.
</p>
<p>Corsa reserves the right, at our sole discretion, to modify our Services or to modify these Terms at any time. If we modify these Terms, we will post the modification on our Services. We will also update the “Last Revised” date at the top of these Terms. By continuing to access or use our Services after we have posted a modification or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. If the modified Terms are not acceptable to you, your sole recourse is to stop using and accessing the Services.If you have any questions for us concerning this Agreement or Corsa generally, please contact us at support@rentcorsa.com</p>

<p>When you sign up for Corsa, you will identify passenger vehicle(s) that you want to list for rent through the Services. Each vehicle must meet our requirements. You may only use the Services in connection with vehicles that you own or otherwise have all the necessary rights and permissions to rent out.
                </p>

                <p><strong>Vehicle Availability.</strong> Once a trip is booked, you must make the vehicle available or deliver the vehicle as expected by the traveler. If you offer the traveler the option to pick up your vehicle at a persistent specified location, you must supply the location of the vehicle accurately to Corsa and ensure that the vehicle is available at that location at the beginning of the rental period. In order to qualify for insurance and related protections, before you provide a prospective traveler with your vehicle, you must verify that he or she has a current, valid driver’s license which matches the name on the reservation.</p>

                <p><strong>Trip Fees.</strong> You will have the ability to set and revise the vehicle’s pricing as you choose. Corsa will pay you the amount collected from those who rent your vehicle, less the applicable fees payable to Corsa. These fees are generally up to 35% of the daily rental rate charged to the renter. To the extent you owe Corsa money for any reason, Corsa also reserves the right to deduct those amounts from your payment.</p>


           <p><strong>Maintenance.</strong> You are required to regularly check your vehicle for any defects in its operations or safety. You promise that, at all times, your vehicle will be in safe and roadworthy condition, in good mechanical condition, and in full compliance with all applicable inspection and registration requirements. You agree to respond to any recall or similar safety notices and to complete any recommended action before allowing your vehicle to be rented. In addition, if Corsa believes that your vehicle does not conform to reasonable standards, Corsa will notify you and reserves the right to remove or decline listing your vehicle until its concerns have been resolved. Corsa may, but does not commit to, undertake efforts to ensure the safety of vehicles rented through the platform.</p>

           <p><strong>Incident Reporting.</strong> If you believe that a traveler has caused any damage to your vehicle, you are required to report that damage as soon as you become aware of it (and in any event, no more than 24 hours after the end of reservation) and to provide reasonable cooperation in the investigation of the damage so that it can be eligible for coverage. Based on the investigation, Corsa or third party claims administrators will reasonably determine whether the damage occurred during the rental period and is eligible for coverage. If it was, you will be reimbursed for the loss as described in Sections below. If Corsa is not given prompt notice as described in this paragraph, or if you do not provide reasonable cooperation in the investigation by Corsa or third party claims administrators, we may not be able to determine the cause. In that case, you agree that we may decline any financial responsibility for such damage.</p>


           <p><strong>Physical Damage.</strong> During each rental period, Corsa or its insurers will bear the risk of theft, destruction, or damage with respect to your vehicle, subject to the Terms of this Agreement and as described here in the US and here in Canada. In the event of a loss that is covered by this Agreement, Corsa will, at its option, pay you either the reasonable and actual expenses of repair of the vehicle or the actual cash value (“ACV”) of your vehicle (if, for instance, the expected cost of repairs exceeds 75% of the ACV of the vehicle). Corsa will also provide a replacement vehicle while yours is being repaired or reimburse you a reasonable amount to pay for a replacement from the date of loss until the repairs are completed or, in the event of total loss, until the earlier of the date when Corsa or third party claims administrators make the first settlement offer or the date when you replace the car.  </p>

             <p>Note, if Corsa or third party claims administrators choose to pay you the ACV for your vehicle, you will be required to transfer title to the vehicle to Corsa or its agent. The standard for the vehicle’s ACV will be as determined by Corsa or its third party claims administrators and in compliance with applicable law</p>

              <p><strong>Damage Exclusions.</strong> There are some exceptions to Corsa’s obligations in the “Physical Damage” Section.   </p>

              <p>Corsa and its insurers are not responsible for any personal property, including any aftermarket installations (e.g. equipment racks) that are taken from your vehicle or damaged during a rental period. We recommend that you remove all personal property before making the vehicle available for a reservation. In addition, you should expect normal wear and tear on your vehicle, including minor scrapes and dings, in connection with your participation in the Services. Corsa will not reimburse you for normal wear and tear to your vehicle. Any protection, coverage, and/or insurance provided may be voided if you violate our Terms of Service, our policies, and/or submit inaccurate information about your vehicle when listing it for rent through Corsa (for example, falsely represent the make, model, or year of the vehicle).</p>

     <p>By accepting these Terms, you agree to the terms of listing your car with Corsa referred therein.</p>

            </section>

        </div>
    </div>
</div>

    <!--CONTENT-->

        </div>
