<div id="pageContainer-content" class="u-contentTopPadding u-contentBottomPadding FAQ">

     <div class="container">
     <h5>RENTER'S FREQUENTLY ASKED QUESTIONS</h5>
</div>
     <div class="container cke_page">
          <ul>
               <li>
                    <a ng-click="gotoAnchor(1)" title="Will this void my current insurance policy?" href="javascript:void(0);">What kind of car can I rent?</a>
               </li>
               <li><a ng-click="gotoAnchor(2)" title="What if the unthinkable happens, and the car is damaged?" href="javascript:void(0);">What is the security deposit for?</a>
               </li>
               <li><a ng-click="gotoAnchor(3)" title="How does the roadside service work?" href="javascript:void(0);">How does pick up and drop off work?</a>
               </li>
               <li><a ng-click="gotoAnchor(4)" title="Who sets the insured value?" href="javascript:void(0);">What if there is an issue with the car?</a>
               </li>
               <li><a ng-click="gotoAnchor(5)" title="Who sets the insured value?" href="javascript:void(0);">Can I rent a car for an upcoming event?</a>
               </li>
               <li><a ng-click="gotoAnchor(6)" title="Who sets the insured value?" href="javascript:void(0);">How do I become an Approved Corsa Driver?</a>
               </li>
          </ul>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container"  id="anchor{{1}}">
          <h5>What kind of car can I rent?</h5>
          <div class="cke-faq">You’ll find there’s a wide range of vehicles in the Corsa garage! You can choose by make and model, year, transmission, and many other options. Naturally, you have the choice of price range as well. Some vehicles may be equipped with a manual transmission. If you are not proficient with a manual, please do not attempt to book a car that is equipped with one. It is up to the owner to let the vehicle out if they do not feel you are able to drive it. There will be no refunds if this is the case.
          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="anchor{{2}}">
          <h5>What is the security deposit for?</h5>
          <div class="cke-faq">Corsa requires a security deposit (minimum $500) before you may drive any car. If your payment card is a debit card, this amount will be deducted from your account; if it is a credit card, the amount will be pre-authorized. In each case, this will usually happen when you initially rent the car. However, if the trip is scheduled to start more than a week from the time you’ve paid for the rental, the security deposit will be charged 7 days prior to the trip starting; if the security deposit fails, your trip will be automatically cancelled. This deposit will be reversed 72 hours after you return the car in the condition that you first rented it. Depending on your bank and the means of payment, it may take up to 7 business days after we release the deposit for the funds to be available in your account. Credit cards will usually show a swifter return of the funds availability, as they will be a release of authorization.
          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="anchor{{3}}">
          <h5>How does pick up and drop off work?</h5>
          <div class="cke-faq"><p>Each owner will arrange pickup and drop off locations with the renter. Many owners are willing to drive a certain amount of miles to meet with the renter. Please specify any special request with the owners prior to booking.</p>
               <p>Note: Some owners may charge a delivery fee of the vehicle outside of their driving range. </p>
          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="anchor{{4}}">
          <h5>What if there is an issue with the car?</h5>
          <div class="cke-faq"><p>Should there be a mechanical issue with the vehicle during a rental, Corsa provides the industry's most comprehensive roadside service on all vehicles during the rental period. This roadside assistance is included with every rental at no cost to the owner or renter. &nbsp;</p>
                 <p>This service is provided through Hagerty Road Side &reg; and includes:</p>
                <p>Guaranteed flatbed towing with soft straps</p>
               <p>Dispatch operators who understand and care about classic cars</p>
               <p>24 hours a day, 7 days a week coverage</p>
               <p>Dispatch for lockouts, battery jumps, tire changes &amp; emergency fuel delivery</p>
               <p>Depending on the circumstances of the issue a refund may be offered to the renter.</p>
     </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="anchor{{5}}">
          <h5>Can I rent a car for an upcoming event?</h5>
          <div class="cke-faq">Absolutely! Many of the vehicles listed on our site are also available for events and special occasions, such as weddings. Some owners may offer a discounted daily rate for an Event rental. Please contact the owner with any specific request prior to booking.
          </div>
     </div>
     <div class="devider_grey faq-devider"></div>
     <div class="container" id="anchor{{6}}">
          <h5>How do I become an Approved Corsa Driver?</h5>
          <div class="cke-faq"> <p>Only Corsa vetted and approved drivers are allowed to drive the cars. To be an approved driver, you must go through our <a ui-sref="anon.register">sign up</a><a ui-sref="anon.register">&nbsp;</a>process and submit your driver's license information. &nbsp;We check your driving history to ensure it meets our <a href="javascript:void(0)">eligibility requirements</a> and if it does, you can drive during any Corsa reservation. &nbsp;Note that it may take up to 72 hours to become an approved driver. We strongly suggest that any co-drivers&nbsp;to create an account 72 hours before any planned rental. We cannot guarantee that the process will be completed in less time.</p>
          <p>If your passengers are approved Corsa drivers, then they can assist you with the drive. If not, they will have to remain as your radio station guru. You must still be the driver for the pickup and drop off of&nbsp;the car. It's your responsibility to confirm whether or not your passenger has been fully approved before letting them drive the car&nbsp;as well.</p>
          <p>Please note that the current minimum age for any <u>Driving</u> rental is 30 years old.</p>
          <p><br>
          Should a non-approved driver be allowed to drive the vehicle, the renter will become fully liable for any damage and fines that may occur.</p>
          </div>
     </div>
</div>
<div class="col-sm-2">
</div>
<div id="scrollTop" ng-click="gotoTop()"><img  title="Go to Top"src="images/scrolltoTop_icon.png"></div>
</div>
