
   <!--BEGIN_CONTENT-->
<div class="container container--fluid container--darkBackground interstitial interstitial--driving u-table">
   <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
       <h5 class="supertitle">RENT WITHOUT</h5>
       <h1 class="hero">COMPROMISE</h1>
       <span class="text--large">You deserve the best,</br> Find the perfect luxury or exotic car, courtesy of local luxury/exotic car owners.</span>

       <div class="buttonWrapper buttonWrapper--largestTopMargin">
          <a class="button button--green button--large" ui-sref="anon.search.list">Find a car now</a>
       </div>

          <div class="interstitial-bottom interstitial-bottom--largerMargin">
               <ul class="horizontalMenu      ">
                   <li class="horizontalMenu-item is-selected"><a class="horizontalMenu-link" href="#/rent">Rent&nbsp;a&nbsp;car</a></li>
                   <li class="horizontalMenu-item"><a class="horizontalMenu-link" href="#/list-your-carml" ui-sref="anon.list-your-car">List&nbsp;your&nbsp;car</a></li>
                   <li class="horizontalMenu-item"><a class="horizontalMenu-link" href="#/how-corsa-works" ui-sref="anon.how-corsa-works">How&nbsp;Corsa&nbsp;works</a></li>
               </ul>
          </div>
   </div>
</div>

<div class="container container--fluid interstitial u-table">
   <div class="container u-alignCenter u-tableCell">

       <h2 class="h2">Why Corsa?</h2>

       <div class="auxiliaryPlus">
          <span class="auxiliaryPlus auxiliaryPlus--first text--green">+</span>
          <span class="auxiliaryPlus auxiliaryPlus--second text--green">+</span>
       </div>
       <div class="grid">
          <div class="grid-item grid-item--4 why-corsa-cls">
               <h4 class="text--green">Choice</h4>

               <p>Hundreds of unique cars for every occasion and every budget.</p>
             
          </div>
          <div class="grid-item grid-item--4 why-corsa-cls">
               <h4 class="text--green">Value</h4>

               <p>The car you want, when and where you want it — up to 30% less than traditional agencies.</p>
           
          </div>
          <div class="grid-item grid-item--4 why-corsa-cls">
               <h4 class="text--green">Accessibility</h4>

               <p>Book cars from home or on the go. We’ll be here to help every step of the way.</p>
          </div>
       </div>
       <!-- <div class="section">
          <div class="factoidBubbleWrapper">
               <div class="factoidBubbleWrapper-bubble factoidBubble">
                   <div class="factoidBubble-figure">2,500+</div>
                   <div class="factoidBubble-description">cities with cars for rent</div>
               </div>
               <div class="factoidBubbleWrapper-bubble factoidBubble">
                   <div class="factoidBubble-figure">300+</div>
                   <div class="factoidBubble-description">airports</div>
               </div>
          </div>
       </div> -->
   </div>
</div>
<!-- <div class="container container--fluid container--greyDustyBackground u-table">
   <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
       <div class="mediaQuoteCarousel js-mediaQuoteCarousel">
          <div class="mediaQuoteCarousel mediaQuoteCarousel-arrow mediaQuoteCarousel-arrow--left js-mediaQuoteLeftArrow"></div>
          <div class="mediaQuoteCarousel-content">
               <div class="u-hidden js-mediaQuoteItem">
                   <span class="supertitle">“One of the best things about [Turo] is its app (iOS, Android), which can be a serious life saver if you find yourself in an airport without a car rental hub.”</span>
                   <div class="iconMediaQuote iconMediaQuote--usaToday"></div>
               </div>
               <div class="u-hidden js-mediaQuoteItem">
                   <span class="supertitle">“[Turo], a coast-to-coast network of private car owners who rent their vehicles, features occasional listings for Hummers and Maseratis among its more conventional rides.”</span>
                   <div class="iconMediaQuote iconMediaQuote--bostonGlobe"></div>
               </div>
               <div class="u-hidden js-mediaQuoteItem">
                   <span class="supertitle">“Sharing economy companies like [Turo], Lyft and others are ... saving travelers money while also providing authentic “local” experiences on a global scale.”</span>
                   <div class="iconMediaQuote iconMediaQuote--techCrunch"></div>
               </div>
          </div>
          <div class="mediaQuoteCarousel mediaQuoteCarousel-arrow mediaQuoteCarousel-arrow--right js-mediaQuoteRightArrow"></div>
       </div>
   </div>
</div> -->
<div class="container container--fluid container--darkBackground interstitial u-table">
   <div class="container u-alignCenter">
       <h3>You&rsquo;re covered</h3>

       <p>Keeping you safe is our top priority</p>

       <div class="grid">
          <div class="grid-item grid-item--6 iconRenters">
               <div class="iconRenters iconRenters--insurance"></div>
               <span class="supertitle">INSURANCE COVERAGE</span>
          </div>
          <div class="grid-item grid-item--6 iconRenters">
               <div class="iconRenters iconRenters--support"></div>
               <span class="supertitle">ASSISTANCE &amp; SUPPORT</span>
          </div>
       </div>
       <div class="buttonWrapper buttonWrapper--largestTopMargin">
          <a class="button button--green button--large" href="#/insurance">Learn more</a>
       </div>
   </div>
</div>

<div class="container container--fluid container--noPadding container--greenLightBackground interstitial">
   <div class="container u-alignCenter numberedSteps numberedSteps-background">
       <h3>How it works</h3>
       <div class= "numberedSteps-foreground">
          <p class="numberedSteps-blurb numberedSteps-step--1">Browse cars for rent<br/>from real people</p>

          <p class="numberedSteps-blurb numberedSteps-step--2">Request to rent<br/>when and where you want</p>

          <p class="numberedSteps-blurb numberedSteps-step--3">Grab the keys<br/>and hit the road</p>
       </div>

   </div>
</div>

<div class="container container--fluid interstitial u-table">
   <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
       <h3>Rent the Best</h3>

       <div class="buttonWrapper buttonWrapper--largestTopMargin">
          <a class="button button--green button--large" href="#/search">Find a car now</a>
       </div>

   </div>
</div>

   <!--CONTENT-->
