<div c<div class="u-contentTopPadding u-contentBottomPadding">
     <div id="dialog-frame-container" class="container" data-next="" data-referer="javascript:void(0)">
          <div id="dialog-frame" class="dialog-container">
               <div>
                    <div id="login-dialog" class="auth-dialog-content">
                         <h5>Reset password</h5>
                         <div class="login-content dialog-content u-clearFix">


                              <div class="inputs">
                                   <p>
                                        <div ng-include = "'/elements/flashMessage.html'"></div>
                                   </p>
                                   <form name = "form" ng-submit = "form.$submitted && form.$valid && resetPassword()" novalidate>
                                        <div class="input-container">
                                             <input type="password" class="form-control" name="password" ng-model = "DataModel.password" id="data_password" minlength = "6" maxlength = "10" placeholder="Enter your Password" required/>
                                             <div ng-messages="form.password.$error" ng-if="form.password.$touched || form.$submitted">
                                                  <div ng-messages-include="/elements/notifyMessages.html"></div>
                                             </div>
                                        </div>

                                        <div class="input-container">
                                             <input type="password" class="form-control" name="con_password" ng-model = "DataModel.con_password" id="data_con_password" minlength = "6" maxlength = "10" placeholder="Confirm your password" required/>
                                             <div ng-messages="form.con_password.$error" ng-if="form.con_password.$touched || form.$submitted">
                                                  <div ng-messages-include="/elements/notifyMessages.html"></div>
                                             </div>
                                        </div>

                                        <div class="input-container">
                                             <button tabindex="4" id="submit" type="submit" class="submit button button--green">Submit</button>
                                        </div>

                                   </form>
                              </div>
                         </div>

                    </div>
               </div>

          </div>
     </div>

</div>
