

<div class="u-contentTopPadding u-contentBottomPadding" id="pageContainer-content">

     <div class="container">
          <div class="grid">
               <div class="grid-item grid-item--12 emptyState">
                    <div class="emptyState-icon--noTrips"></div>
                    <div class="emptyState-text">No trips</div>
                    <hr class="hr--small">
                    <div class="buttonWrapper">
                         <a ui-sref="anon.search" class="button button--green emptyState-button">
                              Find cars near you
                         </a>
                    </div>
               </div>

          </div>
     </div>

</div>
