  <!--BEGIN_CONTENT-->
<div id="trust_and_safety">

    <div class="container container--fluid container--darkBackground interstitial interstitial--confidentDriver u-table">
        <div class="container u-alignCenter u-tableCell u-verticalAlignMiddle">
            <h1>Rent safely, travel confidently</h1>
            <h6 class="subtitle">Your safety is a top priority</h6>
        </div>
    </div>

    <div class="container container--fluid interstitial">
        <div class="container u-alignCenter">

            <h3 class="text--purple">When you host</h3>
            <div class="horizontalDivider horizontalDivider--small"></div>

            <div class="grid grid--withVerticalSpacing u-contentTopPadding">
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small12">
                    <h5 class="text--purple">You’re covered</h5>
                    <p>You’re covered up to $1 million in liability insurance during each and every trip, and your car is protected against physical damage.</p>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small12">
                    <h5 class="text--purple">You’re safe</h5>
                    <p>We screen each traveler, so you can be confident when you hand over your keys.</p>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small12">
                    <h5 class="text--purple">You’re not alone</h5>
                    <p>We’re always just a call away, from our 24-hour emergency line to our responsive customer support team.</p>
                </div>
            </div>

            <div class="u-contentTopPadding">
                <a ui-sref="anon.insurance" class="button button--purple button--large">Learn more</a>
            </div>

        </div>
    </div>

    <div class="container container--fluid container--darkBackground interstitial interstitial--green">
        <div class="container u-alignCenter">

            <h3>When you travel</h3>
            <div class="horizontalDivider horizontalDivider--small horizontalDivider--darkBackground"></div>

            <div class="grid grid--withVerticalSpacing u-contentTopPadding">
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small12">
                    <h5>Choose your coverage</h5>
                    <p>You pick your protection package for physical damage and liability protection.  <a class="text--white" href="javascript:void(0)">Read more about protection plans</a></p>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small12">
                    <h5>You’re protected</h5>
                    <p>Each car on Corsa must meet our rigorous eligibility standards for safety, condition, and operations. <a class="text--white" href="javascript:void(0)">Learn more about eligibility standards</a></p>
                </div>
                <div class="grid-item grid-item--4 grid-item--medium4 grid-item--small12">
                    <h5>You’re not alone</h5>
                    <p>We provide 24/7 roadside assistance and emergency support during each trip — and our customer support team is just a call away.</p>
                </div>
            </div>

            <div class="u-contentTopPadding">
                <a ui-sref="anon.insurance" class="button button--large button--transparent">Learn more</a>
            </div>


        </div>
    </div>

    <div class="container container--fluid interstitial">
        <div class="container u-alignCenter">

            <h3>Tips and tricks</h3>

            <div class="grid grid--withVerticalSpacing grid--tipsTricks">
                <div class="grid-item grid-item--3 grid-item--medium6 grid-item--xsmall12">
                    <h6>Research</h6>
                    <p class="text--small">Review the profiles of the travelers and car owners you’ll be working with. We keep a safe and trustworthy marketplace, but only connect with people you feel confident meeting in person.</p>
                </div>
                <div class="grid-item grid-item--3 grid-item--medium6 grid-item--xsmall12">
                    <h6>Review</h6>
                    <p class="text--small">Rate and review owners &amp; travelers after each trip to help other members make informed decisions when they travel or rent out their cars.</p>
                </div>
                <div class="grid-item grid-item--3 grid-item--medium6 grid-item--xsmall12">
                    <h6>Protect yourself</h6>
                    <p class="text--small">Never post your address, email, or phone number online. We keep your private information private, and only reveal members’ names, numbers, and locations once a trip is booked.</p>
                </div>
                <div class="grid-item grid-item--3 grid-item--medium6 grid-item--xsmall12">
                    <h6>Respect each other</h6>
                    <p class="text--small">Anyone who doesn’t respect our members or our members’ vehicles will be removed from the Corsa marketplace.</p>
                </div>
            </div>

        </div>
    </div>

</div>

    <!--CONTENT-->
