<div c<div class="u-contentTopPadding u-contentBottomPadding">
     <div id="dialog-frame-container" class="container" data-next="" data-referer="javascript:void(0)">
          <div id="dialog-frame" class="dialog-container">
               <div>
                    <div id="login-dialog" class="auth-dialog-content change-pass-cls">
                      
                         <div class="login-content dialog-content u-clearFix">
                                 <h5>Change Password</h5>
							  
							  <div class="inputs">
                                   <p>
                                        <div ng-include = "'/elements/flashMessage.html'"></div>
                                   </p>
                                   <form name = "form" ng-submit = "form.$submitted && form.$valid && changePassword()" novalidate>
                                        <!-- <div class="input-container">

                                             <label>Enter old password</label>
                                             <input type="password" class="form-control" name="oldpassword" ng-model = "password" id="data_password" minlength = "6" maxlength = "10" placeholder="Enter your Password" required/>
                                             <div ng-messages="form.oldpassword.$error" ng-if="form.oldpassword.$touched || form.$submitted">
                                             <div ng-messages-include="/elements/notifyMessages.html"></div>

                                        </div> -->

                                        <div class="input-container">
                                             <label>Enter new password</label>
                                             <input type="password" class="form-control" name="password" ng-model = "new_password" id="data_password" minlength = "6" maxlength = "10" placeholder="Enter your Password" required/>
                                             <div ng-messages="form.password.$error" ng-if="form.password.$touched || form.$submitted">
                                                  <div ng-messages-include="/elements/notifyMessages.html"></div>
                                             </div>
                                        </div>
                                        <div class="input-container">
                                             <label>Confirm Password</label>
                                             <input type="password" class="form-control" name="con_password" ng-model = "con_password" id="data_con_password" minlength = "6" maxlength = "10" placeholder="Enter your password" required/>
                                             <div ng-messages="form.con_password.$error" ng-if="form.con_password.$touched || form.$submitted">
                                                  <div ng-messages-include="/elements/notifyMessages.html"></div>
                                             </div>
                                        </div>

                                        <div class="input-container">
                                             <button tabindex="4" id="submit" type="submit" class="submit button button--green" name="changePassword">Change</button>
                                             <!-- <button tabindex="4" id="submit" type="submit" class="submit button button--green">Submit</button> -->
                                        </div>

                                   </form>
                              </div>
                         </div>

                    </div>
               </div>

          </div>
     </div>

</div>





<!-- <div class="block-section bg-color4">
<div class="container">
<div class="panel panel-md">
<div class="panel-body">
<div class="row">
<div class="col-md-12">
<p><a  ui-sref="javascript:void(0)" class="btn btn-primary btn-theme btn-block">
<!-- <i class="fa fa-facebook pull-left bordered-right"></i> -->
<!-- Change Password</a> -->
<!-- </p>
<p>
<div ng-include = "'/elements/flashMessage.html'"></div>
</p>
<!-- form login -->
<!-- <form name = "form" ng-submit = "form.$valid && form.$submitted && changePassword()" novalidate>
<div class="form-group">{{serverMsg}}
<label>Enter old password</label>
<input type="password" class="form-control" name="oldpassword" ng-model = "password" id="data_password" minlength = "6" maxlength = "10" placeholder="Enter your Password" required/>
<div ng-messages="form.oldpassword.$error" ng-if="form.oldpassword.$touched || form.$submitted">
<div ng-messages-include="/elements/notifyMessages.html"></div>
</div>
</div>
<div class="form-group">
<label>Enter new password</label>
<input type="password" class="form-control" name="password" ng-model = "new_password" id="data_password" minlength = "6" maxlength = "10" placeholder="Enter your Password" required/>
<div ng-messages="form.password.$error" ng-if="form.password.$touched || form.$submitted">
<div ng-messages-include="/elements/notifyMessages.html"></div>
</div> -->
<!-- </div>
<div class="form-group">
<label>Confirm Password</label>
<input type="password" class="form-control" name="con_password" ng-model = "con_password" id="data_con_password" minlength = "6" maxlength = "10" placeholder="Enter your password" required/>
<div ng-messages="form.con_password.$error" ng-if="form.con_password.$touched || form.$submitted">
<div ng-messages-include="/elements/notifyMessages.html"></div>
</div>
</div>

<div class="form-group no-margin">
<button type="submit" class="btn btn-theme btn-lg btn-t-primary btn-block" name="changePassword">change Password</button>

</div>
</form>

</div>
</div>
</div>
</div>


</div>
</div>

</div> -->
