<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Car List</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div ng-include = "'/templates/admin/ui-elements/flashMessage.html'"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               Car List
            </div>
            <!-- /.panel-heading -->
            <div  class="panel-body">
                <div class="table-responsive">
                    <table ng-if="carList != ''  " class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>

                                <th>Make</th>
                                <th>Model</th>
                                 <th>Year</th>
                                <th>Status</th>
                                <th>List status</th>
                                <th>Riding Cost</th>
                                <th>Actions</th>
                           </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="car in carList">
                                <td>{{$index+1}}</td>
                                <td>{{car.specifications.make}}</td>
                                <td>{{car.specifications.model}}</td>
                                <td>{{car.specifications.year}}</td>
                                <td ng-if="car.status == false"><a class="button dialog-link" data-toggle="modal" data-target="#myModal" ng-click="updatedStatus(car._id,true)"><img  style="height:20px; width:20px;" src="images/erase.png" ></a>

                                </td>
                                <td ng-if="car.status == true"><a class="button dialog-link" data-toggle="modal" data-target="#myModal" ng-click="updatedStatus(car._id,false)"><img style="height:15px; width:15px;" src="images/true.png" ></a>

                                </td>

                                <td>{{car.listingStatus}}</td>
                                 <td> {{car.ridingCost}} </td>

                                <td>
                                 <a class="btn btn-link" ui-sref="dashboard.carInfo({vehicleId: car._id})" ng-click="getCarInfo(car._id)" type="button">View</a>
                                </td>

                         </tr>

                        </tbody>

                    </table>


                         <div ng-if="carList == '' " class="alert alert-info">
                               <div class="panel-heading" style="text-align: center; font-size: 25px;"> No Record Found </div>
                            </div>


                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<!-- <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <span class="modal-title" id="modal-title">Are you sure to remove this photo?</span>
      </div>
     <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
  </script> -->
