

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Detail</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
  			<!-- <div class="col-md-4 text-center">
                <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
                display:block; margin:auto; width:150px; height:150px" ng-src="{{DataModel.profile.path + DataModel.profile.photo}}">
              </div> -->
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-12">

                     <strong class="text-muted"><h4>TransactionId:</strong><b> {{DataModel.transactionId}}</b></h4>
                  </div>

                </div>
                <div class="spacer"></div>
                <div class="row">
                <div class="col-md-12">
                 <strong class="text-muted"><h4>Amount:</strong><b>{{DataModel.amount}}</b></h4>


                </div>
                </div>
                <div class="spacer"></div>
                <div class="row">

                  <div class="col-md-12">
                  <strong class="text-muted"><h4>PaymentStatus:</strong> <b> {{DataModel.paymentStatus}}</b></h4>


                  </div>


                </div>
                <div class="spacer"></div>
                <div class="row">
                <div class="col-md-12">
                 <strong class="text-muted"><h4>PaypalFee:</strong>  <b>{{DataModel.paypalFee}}</b></h4>


                </div>


              </div>
              <div class="spacer"></div>
              <div class="row">
              <div class="col-md-12">
               <strong class="text-muted"><h4>PaymentType:</strong> <b> {{DataModel.paymentType}}</b></h4>


              </div>
              </div>


           </div>

         </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
